svg {
    width: 100%;
    height: 90%;
}

line {
    stroke: rgb(0,0,0);
}

.text-field {
    border: 1px solid #cccb;
    width: auto;
    min-width: 5%;
    min-width: 100px;
    max-width: 101%;
    min-height: 5%;
    min-height: 50;
    max-height: 101%;
    position: absolute;
    border-radius: 3px;
    outline: 0px solid transparent;
    overflow: auto;
    white-space: pre;
    font-family: monospace;
}

foreignObject {
    overflow: visible;
}
